body{
    background-image: url(https://images.unsplash.com/photo-1529226783002-2d504343a131?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    /*background-image: url(https://images.unsplash.com/photo-1712139003106-a03255cda8dc?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);*/
    background-attachment: fixed;
    background-size: cover;
    background-position: revert;

    h1 { text-align: center;
        font-size: medium;
        color: whitesmoke;
        text-shadow: 2px 2px 4px #000;


    }

}
a { color: whitesmoke}

div {
    display:inline-block;
    text-align:center;
    margin: 5px;
}
div img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    display:block;
    margin-left: 30px;
    margin-top: 0;

}
div p{
     font-size: 10px;
     text-align: center;
    color: whitesmoke;
    margin: 5px 0;
    margin-left: 20px;
    text-shadow: 2px 2px 4px #000;
 }
div h2 {
    display: inline-block;
   font-size: 15px;
    margin-top: 0;
    margin-left: 15px;
    font-weight: normal;
    color: whitesmoke;
    text-shadow: 2px 2px 6px #000;


}
