
body {
    background-color: rgb(128 128 128 / 0.12);
    background-attachment: fixed ;
     margin-left: 20px;

}

p{
    height : 18px;
    background-color: rgb(128 128 128 / 0.15);
    display: inline-block;
    padding: 2px 5px;
    margin: 0;


}