body{
    /*height: 100%;*/
    margin: 0;
    padding: 0;
}
.months{
    height: 600px;
    background-color: #4c6c4c;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 15px;

}
.item{
    height: 180px;
    width: 190px;
    background-color: #c6dcc3;
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    margin-top: 15px;


}
.item h2{
    font-size: 14px;
    margin-left: 5px;

}
.item p{
    font-size: 12px;
    margin: 8px;
}

.item:hover{
    transform: scale(1.1);
}