body{
    /*height: 100%;*/
    margin: 0;
    padding: 0;

}

.months{
    height: 450px;
    background-color: #4c6c4c;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;

}
.item{
    height: 150px;
    width: 190px;
    background-color: #c6dcc3;
    display: flex;
    margin: 10px;
    border-radius: 5px;

}
.item p{
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
  

}
.item h1{
    font-size: 15px;

}
