.wrap {
    height: 200px;
    width: 200px;
    /*margin:20px;*/

}

.collapse{
    color: #D9D9D9;


}

.alpha{
    background-color: lightpink;
    height: 100px;

}

.beta{
    font-size: 20px;

}


/*..............................................*/





